/*  Actions  */
div.actions ul {
	margin: 0px 0;
	padding: 0;
}

div.actions li {
	display: inline;
	list-style-type: none;
	line-height: 2em;
	margin: 0 1em 0 0;
	white-space: nowrap;
}

/* Scaffold View */
dl {
	line-height: 2em;
	margin: 0em 0em;
	width: 100%;
}

dl.altrow { 	background: #f4f4f4; }

dt {
	font-weight: bold;
	padding-left: 4px;
  	vertical-align: middle;
}

dd {
	margin-left: 13em;
	margin-top: -1.5em;
	vertical-align: top;
}

/* TAMANHO DE CAMPOS ESPECIAIS */
input.phone, input.mobile{ width: 115px; }
input.data, input.date{ width: 85px; }
input.hour{ width: 45px; }
input.cep{ width: 85px; }
input.cpf{ width: 99px; }
input.cnpj{ width: 155px; }
input.custom{ width: auto; }
input.uf{ width: 45px; }

input:-moz-read-only { 
	background: #fff!important; 
	cursor: text!important;

}
input:read-only { 
	background: #fff!important; 
	cursor: text!important;
}


